.env
.coverage
.coverage.*
.venv/
.idea/
.pytest_cache/
.mypy_cache/
.ruff_cache/
**/__pycache__/
**/*.py[cod]
docker-compose.yml
tunnel.env
app/data/*.db*
app/data/tiles/*.tif
/.aiassistant/
/.junie/
