aiosmtplib
aiosqlite
alembic
argon2-cffi
bcrypt
fastapi
httpx
jinja2
markdown
mypy
numpy
pydantic-settings
pydantic[email]
pyproj
pytest
pytest-asyncio
pytest-cov
python-jose[cryptography]
python-multipart
rasterio
ruff
shapely
sqlalchemy[asyncio]
types-Markdown
types-python-jose
types-Shapely
uvicorn[standard]
